/* Responsive Design */
@media (max-width: 320px){
.header-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        
        width: 100%;
        margin:0, auto;
    }
.header-container .left-side .logo{
    position:relative;
}


    .logo {
        
        margin-bottom: 20px;
        position: relative;
        left: -20px;
        z-index: -300;
        justify-content: center;
        align-items: center;
        justify-items: center;
        margin: 0 auto;
        }

        .logo h1{
        text-align: center;
        font-size: 20px;
    }

    .logo h4{
        text-align: center;
        font-size: 15px;
    }

    .logo p{
        text-align: center;
        font-weight: 300;
        font-size: 12px;

    }

.line-flex hr{
    display: none;
}


/* Nav Links */

.nav-links ul {
    list-style: none;
    display: flex;
    font-size: 10px; 
    position: relative;
  
    gap: 10px;
    justify-content: center;
    align-items: center;
    z-index: -300;
}


.nav-links ul li a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 10px;
    position: relative;
    left: 50px;
    
    
    z-index: -300;
}

/* Social Icons */

.social-icons {
        /* top: -50px; */
        left: -5px;
        display: flex;
        flex-direction: column-reverse;
        position: fixed;
        
        
        
    }
    .social-icons a {
        /* margin: 10px 0; */
        font-size: 12px;
    }

/* Right Side */

.right-side {
    flex: 1; 
     max-width: 280px;
    overflow-wrap: break-word; 
    position: relative;
    left: 30px;
    top: -20px;
    /* margin-left: 17px; */
    margin-top: 200px;
    z-index: 1000;
}


.about-me p{
    font-size: 12px;
    text-align:justify;
    position: relative;
    /* left: -60px; */
    z-index: 1000;
    line-height: 1.5;
   
    
   
}


.about-me p br{
    display: none;
}

.year p{display: none;}

.position h4 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 10px;
    text-align: center;
    position: relative;
    /* left: -50px; */
}

.position p{
    font-size: 12px;
    text-align:justify;
    /* position: absolute; */
    /* left: -40px; */
    width: 100%;
    
    line-height: 1.5;
    
    
}

.position p br{
    display: none;
}


/* The Experience Hover Effect */


.experience:hover {
    padding: 50px 5px;
    background-color: rgb(0, 25, 49);
    border-radius: 10px;
    border: 1px solid rgb(71, 129, 162);
    transition: 0.7s;
    box-shadow: 3px 3px 3px rgb(71, 129, 162);
    cursor: pointer;
}

.experience-one:hover {
    padding: 50px 5px;
    background-color: rgb(0, 25, 49);
    border-radius: 10px;
    border: 1px solid rgb(71, 129, 162);
    transition: 0.7s;
    box-shadow: 3px 3px 3px rgb(71, 129, 162);
    cursor: pointer;
}

.experience-two:hover {
    padding: 50px 5px;
    background-color: rgb(0, 25, 49);
    border-radius: 10px;
    border: 1px solid rgb(71, 129, 162);
    transition: 0.7s;
    box-shadow: 3px 3px 3px rgb(71, 129, 162);
    cursor: pointer;
}
/* Left Side */

.left-side{
    z-index: -300;
}
/* Buttons */

.tools button {
    background-color: rgb(53, 133, 187);
    color: rgb(0, 21, 41);
    height: 20px;
    
    border: none;
    padding: 5px 5px;
    border-radius: 10px;
    font-size: 10px;
    cursor: pointer;
    margin-top: 20px;
    align-items: center;
    justify-items: center;
    position: relative;
    left: -15px;
}


/* Image Card */

.card p {
  margin: 0;
  color: turquoise;
  font-size: 10px;
  text-align: left;
  
}

.card h2 {
  /* margin: 12px 0 6px; */
  font-size: 12px;
  text-align: left;
  position: relative;
  left: -40px;
}

/* Contact Form */

.form-body{
    z-index: 1000;
}

.container h1{
    position: relative;
    left: -10px;
    z-index: 1000;
}

.form-body .container p{
    position: relative;
    left: -8px;
    font-size: 12px;
    font-weight: 300;
    z-index: 1000;
}

.form-body .container h1{
    position: relative;
    left: -8px;
    font-size: 18px;
    font-weight: 300;
    z-index: 1000;
}

.field ::placeholder{
    font-size: smaller;
}

}